#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* body {
  background-image: url(/images/henesis.jpg);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
} */



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.bigTable {
  border: solid black; ;
  border-radius: 10px;
  background-color: white;
}

.itemTable {
  border: solid black; ;  
}

tr,
td {  
  width: 65px;
  height: 30px;
  /* cursor: grabbing; */
  cursor: pointer;
}


.itemInfo {
  width: 300px;
  height: 400px;
  position: absolute;
  border: solid black;
  background-Color: white;  
}

.itemButton {
  width: 65px;
  font-size: 11px;
  margin-right: 1em
}

.itemImg {
  width: 40px;
  height: 30px;
}

.showItemIng {
  width: 80px;
  height: 80px;
}

.itemTop {
  display: flex;
  height: 30px;
  background: black;
  opacity: 80%;
  color: orange;
  cursor: pointer;
}

.centered-container {
  position: absolute;
  justify-content: center;
  align-items: center;  
  height: 314px;
  top: 50%;
  left: 50%;
  border: solid black;
  background-color: white;
  border-radius: 10px;  
  background-image: url(/images/inner-starpos2.png);
}

.inner-box {  
  justify-content: center;
  align-items: center;  
  height: 230px;
  top: 50%;
  left: 50%;
  border: solid skyblue;
  background-color: skyblue;
  border-radius: 10px;
  margin: 10%;
}

.noneDrag{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
 }

 .outer-square {  
  height: 320px; /* 원하는 크기로 조절하세요 */
  background-color: #626000;
  position: relative;
}

/* 내부 정사각형 스타일 */
.inner-square {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;  
}

.moving-box {
  width: 300px;
  border: 1px solid;
}

.popup {
  position: absolute;
  z-index: 999;
}

.element {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  opacity: 0.5;
  transition: opacity 1s ease-in-out;
}

.element.active {
  opacity: 1;
}

-----------------------


.image-container {
  position: relative;
  overflow: hidden;
  display: inline-block; /* 이미지를 감싸는 컨테이너를 inline-block으로 설정 */
}

.image-with-effect {
  display: block;
  max-width: 100%;
  height: auto;
}

.number-container {
  perspective: 1000px; /* 3D 효과를 위한 원근법 거리 설정 */
}

.number {
  color: yellow;
  font-size: 60px;
  position: absolute;
  align-items: center;
  margin-left: 2.2em;
  margin-bottom: 3em;
  z-index: 9999;
  font-weight: bold;
}

.percentUp {
  color: yellow;
  font-size: 30px;
  position: absolute;
  align-items: center;  
  margin-bottom: 3em;
  margin-left: 1.7em;
  z-index: 9999;
  font-weight: bold;
}

.container {  
  display: flex; /* 요소들을 가로로 배열 */
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */  
  border: 1px solid white; /* 테두리 스타일 설정 */  
  border-radius: 10px;
  height: 35px;
}

.content {
  position: absolute;
  width: 70px;
  height: 35px;  
  background-color: #B86824;
  border-left: 2px solid rgba(255, 153, 0, 0.856);
  border-right: 2px solid rgba(255, 153, 0, 0.856);
}


.enchantBtn {
  /* background-image: url(/images/inner-starpos2.png); */
  background-color: #8B6331;
  color: white;
  border: 1px solid black;
}

.henesis {
  background-image: 'url(/images/henesis.png)';
}

.equipEnchant {
  width: 343px;
  height: 283.5px;
  background-image: url(/images/inner-starpos2.png);
  border-radius: 10px;
  z-Index: 999;
  color: white;
}